/* html
    <div class="header">
        <h2>Youtube</h2>
        <div class="progress-bar"></div>
    </div>
    <div class="media-container">
        <button class="handle left-handle">
            <div class="text">&#8249;</div>
        </button>
        <div class="slider">
            <img src="https://via.placeholder.com/210/00FF00?text=1">
            <img src="https://via.placeholder.com/220/00FF00?text=2">
            <img src="https://via.placeholder.com/230/00FF00?text=3">
            <img src="https://via.placeholder.com/240/00FF00?text=4">
            <img src="https://via.placeholder.com/250/00FF00?text=5">
            <img src="https://via.placeholder.com/260/00FF00?text=6">
            <img src="https://via.placeholder.com/270/00FF00?text=7">
            <img src="https://via.placeholder.com/280/00FF00?text=8">
            <img src="https://via.placeholder.com/250/00FF00?text=9">
            <img src="https://via.placeholder.com/260/00FF00?text=10">
            <img src="https://via.placeholder.com/270/00FF00?text=11">
            <img src="https://via.placeholder.com/280/00FF00?text=12">
        </div>
        <button class="handle right-handle">
            <div class="text">&#8250;</div>
        </button>
    </div>
*/

.media-container {
    /* position */
    position: relative;

    /* flex */
    display: flex;
    justify-content: center;
    overflow: hidden;

    /* variables */
    --img-gap: 5px;
    --border-radius: 10px;
    --handle-size: 25px;
}

.slider {
    --items-per-screen: 4;
    --slider-index: 0;
    display: flex;
    flex-grow: 1;
    margin: 0  calc(var(--handle-size) + 2.5px); ;
    transform: translateX(calc(var(--slider-index) * -100%));
    transition: transform 250ms ease-in-out;
}

.slider>.slide {
    flex: 0 0 calc(100% / var(--items-per-screen));
    max-width: calc(100% / var(--items-per-screen) - 4.75px);
    margin-right: 5px;
    aspect-ratio: 16 / 9;
    padding: var(--img-gap);

    /* position */
    position: relative;
    --position-offset: 10px;

    /* styling */
    background-color: var(--background-color);
    border: 4px solid var(--border-color);
    border-radius: var(--border-radius);
    color: var(--text-color);
    text-decoration: none;

    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.slide:hover,
.slide:focus,
.slide:focus-visible {
    --background-color: transparent !important;
    --text-color: var(--brand-color) !important;
    --border-color: var(--brand-color) !important;
}

.slide:active {
    --background-color: transparent !important;
    --text-color: var(--primary-text-color) !important;
    --border-color: var(--primary-text-color) !important;
}

.slide h4 {
    /* spacing */
    margin-top: 17px;

    /* text */
    color: inherit !important;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
}

.slide h5 {
    /* text */
    color: inherit !important;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
}

.slide h6 {
    /* position */
    position: absolute;
    bottom: var(--position-offset);
    left: var(--position-offset);
    right: var(--position-offset);

    /* text */
    color: inherit !important;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
}

.slide .icon {
    /* position */
    position: absolute;
    top: var(--position-offset);
    left: var(--position-offset);

    /* sizing */
    height: 15px !important;
    width: 15px !important;
}

.slide .open {
    /* position */
    position: absolute;
    top: var(--position-offset);
    right: var(--position-offset);

    fill: currentColor;

    /* sizing */
    height: 15px !important;
    width: 15px !important;
}

.handle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: 0;

    height: 100%;
    border: none;
    border-radius: var(--border-radius);
    flex-grow: 0;
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, .25);
    z-index: 1;
    width: var(--handle-size);
    cursor: pointer;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    line-height: 0;
    transition: background-color 150ms ease-in-out;
}

.left-handle {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    left: 0;
}

.right-handle {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    right: 0;
}

.handle:hover,
.handle:focus {
    background-color: rgba(255, 255, 255, .5);
}

.text {
    transition: transform 150ms ease-in-out;
}

.handle:hover .text,
.handle:focus .text {
    transform: scale(1.2);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: .5rem calc(var(--img-gap) * 2 + var(--handle-size));
    align-items: center;
}

.title {
    font-size: 2rem;
    margin: 0;
}

.progress-bar {
    display: flex;
    gap: .25rem;
}

.progress-item {
    flex: 0 0 20px;
    min-width: 20px;
    height: 5px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: var(--border-radius);
}

.progress-item.active {
    background-color: rgba(255, 255, 255, .9);
}

@media (max-width: 6000px) {
    .slider {
        --items-per-screen: 3;
    }
}

@media (max-width: 600px) {
    .slider {
        --items-per-screen: 2;
    }
}

@media (max-width: 300px) {
    .slider {
        --items-per-screen: 1;
    }
}

.header h3 {
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
}