/* variables */
html {
    --page-width: min(960px, calc(100% - max(8vw, 20px)));
}

/* page setup */
html {
    /* scroll */
    scroll-behavior: smooth;
    scroll-padding-top: 52px;
}

body {
    /* sizing */
    margin: 0;
    width: 100vw;
    height: 100vh;

    /* overflow */
    overflow-x: hidden;
    overflow-y: scroll;

    /* styling */
    background-color: var(--primary-color);
}

body.noscroll {
    overflow: hidden !important;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* logo */
header .logo-border,
footer .logo-border {
    /* position */
    position: relative;

    /* sizing */
    height: 100%;
    max-height: 32px;
    width: fit-content;

    /* pointer */
    pointer-events: none;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo-border::after,
footer .logo-border::after {
    /* content */
    content: "";

    /* position */
    position: absolute;
    top: 0;

    /* sizing */
    display: block;
    width: 100%;
    height: 100%;

    /* styling */
    background-color: white;

    /* animation */
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25s ease-in-out;
}

footer .logo-border::after {
    background-color: var(--primary-text-color);
}

header .logo:hover .logo-border::after,
footer .logo-border:hover::after {
    /* animation */
    transform: scaleX(1);
    transform-origin: left;
}

header .logo-border .end,
footer .logo-border .end {
    width: 10px;
    height: 100%;
    border: 3px solid white;
}

footer .logo-border .end {
    border-color: var(--primary-text-color);
}

header .logo-border .end:first-of-type,
footer .logo-border .end:first-of-type {
    border-right: none !important;
}

header .logo-border .end:last-of-type,
footer .logo-border .end:last-of-type {
    border-left: none !important;
}

header h1,
footer h1 {
    /* spacing */
    margin: 0;

    /* text */
    font-size: 28px;
    line-height: 1;
    text-transform: uppercase;
    color: white;
}

footer h1 {
    color: var(--primary-text-color);
}

/* Header */
header {
    /* position */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    /* position */
    z-index: 1;

    /* variables */
    --padding: 10px;
    --gap: var(--padding);
    --button-radius: 30px;
}

header.scrolled .container {
    backdrop-filter: brightness(.8) blur(15px) opacity(1);
}

header .container {
    /* sizing */
    width: 100%;
    height: 52px;
    padding: var(--padding) min(calc(var(--padding) * 4), max(4vw, var(--padding)));

    /* flex */
    display: flex;
    justify-content: space-between;

    /* transition */
    transition: backdrop-filter 0.25s ease-in-out;
}

header .nav,
header .logo,
header .logo svg

/*Set Color*/
    {
    /* display */
    display: block;

    /* sizing */
    height: 100%;
    width: fit-content;

    /* color */
    fill: white;
}

#nav-btn {
    display: none;
}

@media (max-width: 700px) {
    #nav-btn {
        display: block;
    }

    header ul {
        /* sizing */
        width: 100%;
        height: 100%;

        /* flex */
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }

    header nav {
        /* position */
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;

        /* sizing */
        padding: var(--padding) calc(var(--padding) * 4) !important;
        height: 100vh;
        width: 100vw;

        /* styling */
        background-color: var(--primary-color);

        /* hiding */
        pointer-events: none;
        opacity: 0;

        /* transition */
        transition: opacity 0.25s ease-in-out;
    }

    header nav.visible,
    header nav:focus-within {
        opacity: 1;
        pointer-events: auto;
    }

    header .nav {
        /* flex */
        gap: var(--padding) !important;
    }
}

header .nav {
    /* flex */
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: calc(var(--gap) * 3);
}

header ul {
    /* flex */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
    align-items: center;
    gap: calc(var(--gap) * 3);

    /* sizing */
    margin: 0;
    padding: 0;

    /* list */
    list-style: none;
}

header a {
    /* position */
    position: relative;

    /* text */
    color: white;
    text-decoration: none;
    font-weight: 600;
}

header a:after {
    /* content */
    content: "";

    /* position */
    position: absolute;
    bottom: calc(-6.5px - var(--padding));

    /* sizing */
    display: block;
    height: calc(var(--padding) / 2);
    width: 100%;

    /* styling */
    background-color: white;
    border-top-left-radius: var(--button-radius);
    border-top-right-radius: var(--button-radius);

    /* transition */
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
    transform-origin: right;
}

header a.menu:after {
    bottom: calc(var(--padding) * -1);
    left: calc((var(--padding) / 20) * -1);
}

header a:hover::after,
header a:focus::after,
header a:focus-visible::after {
    /* show */
    transform: scaleX(1);
    transform-origin: left;
}

header a:active::after {
    background-color: black;
}

header .menu svg

/*No Set Color*/
    {
    /* display */
    display: block;

    /* sizing */
    height: 100%;
    width: fit-content;
}

header .menu {
    /* display */
    display: block;

    /* sizing */
    height: 100%;
    width: fit-content;
    padding: calc(var(--padding) / 2);

    /* color */
    fill: white;
    transition: fill 0.2s ease-in-out;
}

/* menu */
section#menu {
    /* temp */
    display: none;
}

/* section fullscreen */
section.fullscreen {
    /* position */
    position: relative;
}

section.fullscreen .container {
    /* sizing */
    width: 100%;
    height: 100vh;
}

section.fullscreen .centred {
    /* sizing */
    width: 100%;
    height: 100%;

    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.fullscreen img {
    /* position */
    position: absolute;
    top: 0;
    z-index: -1;

    /* sizing */
    width: 100vw;
    height: 100vh;

    /* image */
    object-fit: cover;

    /* background */
    filter: brightness(70%);
}

section.fullscreen .logo-border {
    /* position */
    position: relative;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

section.fullscreen .logo-border::after {
    /* content */
    content: "";

    /* position */
    position: absolute;
    top: 0;

    /* sizing */
    display: block;
    width: 100%;
    height: 100%;

    /* styling */
    background-color: white;

    /* animation */
    animation: swipe 2s infinite forwards;
}

@keyframes swipe {
    0% {
        transform: scaleX(0);
        transform-origin: left;
    }

    22.5% {
        transform: scaleX(0);
        transform-origin: left;
    }

    45% {
        transform: scaleX(1);
        transform-origin: left;
    }

    55% {
        transform: scaleX(1);
        transform-origin: right;
    }

    77.5% {
        transform: scaleX(0);
        transform-origin: right;
    }

    100% {
        transform: scaleX(0);
        transform-origin: right;
    }
}

section.fullscreen .logo-border .end {
    width: 15px;
    height: 100%;
    border: 5px solid white;
}

section.fullscreen .logo-border .end:first-of-type {
    border-right: none !important;
}

section.fullscreen .logo-border .end:last-of-type {
    border-left: none !important;
}

section.fullscreen h1 {
    /* spacing */
    margin: 0;

    /* text */
    font-size: min(80px, max(10vw, 50px));
    line-height: 1;
    text-transform: uppercase;
    color: white;
}

section.fullscreen h2 {
    /* spacing */
    margin: 0;

    /* text */
    font-size: min(30px, max(4vw, 20px));
    line-height: 1;
    text-transform: uppercase;
    color: white;
}

/* section */
section:not(.fullscreen) {
    margin-bottom: 150px;

    /* variables */
    --gap: 5px;
}

section .container {
    /* sizing */
    width: var(--page-width);
    margin: 0 auto;
}

section .accent {
    /* sizing */
    width: 100%;
    height: 5px;
    margin-bottom: 5px;

    /* styling */
    border-radius: 5px;
    background-color: var(--brand-color);
}

#about .accent {
    border-top-right-radius: 0;
    border-top-left-radius: 0
}

section .content {
    padding: 0 10px;

    /* flex */
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

section .side-by-side {
    /* grid */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(282px, 100%), 1fr));
    gap: calc(var(--gap) * 2);
}

section h2 {
    /* text */
    color: var(--primary-text-color);
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
}

section h3 {
    /* text */
    color: var(--primary-text-color);
    font-size: 30px;
    font-weight: 600;
    line-height: 1;
}

section h4 {
    /* text */
    color: var(--primary-text-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
}

section h4 a {
    /* text */
    text-decoration: none;
    color: var(--primary-text-color);
}

section p {
    /* text */
    white-space: pre-line;
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1;
}

section img {
    /* sizing */
    width: 100%;
}

section .profile-picture {
    /* flex */
    display: flex;

    /* styling */
    border-radius: 50%;
    overflow: hidden;
}

section .profile-info {
    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap);
}

section .profile-info h3 {
    margin-bottom: -5px;
}

@media (max-width: 645px) {
    section .profile-info {
        /* flex */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        text-align: center;
    }

    section .profile-info .socials {
        justify-content: center;
    }
}

/* projects */
.project-container h3 {
    /* text */
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1;

    /* spacing */
    padding: 0px 10px 5px;
}

section .projects {
    /* grid */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(282px, 100%), 1fr));
    gap: var(--gap);

    /* spacing */
    padding: 0 5px;
}

section .project {
    /* position */
    position: relative;
    --position-offset: 10px;

    /* sizing */
    height: 120px;

    /* styling */
    background-color: var(--background-color);
    border: 4px solid var(--border-color);
    border-radius: var(--border-radius);
    color: var(--text-color);
    text-decoration: none;

    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* transistion */
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out, border 0.25s ease-in-out;
}

.project:hover,
.project:focus,
.project:focus-visible {
    --background-color: transparent !important;
    --text-color: var(--brand-color) !important;
    --border-color: var(--brand-color) !important;
}

.project:active {
    --background-color: transparent !important;
    --text-color: var(--primary-text-color) !important;
    --border-color: var(--primary-text-color) !important;
}

.project h4 {
    /* spacing */
    margin-top: 14px;

    /* text */
    color: inherit !important;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
}

.project h5 {
    /* text */
    color: inherit !important;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
}

.project h6 {
    /* position */
    position: absolute;
    bottom: var(--position-offset);
    left: var(--position-offset);
    right: var(--position-offset);

    /* text */
    color: inherit !important;
    font-size: 12px;
    font-weight: 600;
    line-height: 1;
    text-align: center;
}

.project .icon {
    /* position */
    position: absolute;
    top: var(--position-offset);
    left: var(--position-offset);

    /* sizing */
    height: 15px !important;
    width: 15px !important;
}

.project .open {
    /* position */
    position: absolute;
    top: var(--position-offset);
    right: var(--position-offset);

    fill: currentColor;

    /* sizing */
    height: 15px !important;
    width: 15px !important;
}

section a.contact {
    /* sizing */
    width: 100%;
    height: 40px;
    padding: 10px 20px;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;

    /* styling */
    border-radius: 20px;
    background-color: var(--brand-color);

    /* transition */
    transition: color 0.25s ease-in-out, outline 0.25s ease-in-out;

    /* text */
    text-decoration: none;
    color: var(--brand-text-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
}

/* Youtube */
.channel {
    /* position */
    position: relative;

    /* sizing */
    padding: 40px 10px;

    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* styling */
    border-radius: 10px;
    overflow: hidden;
    color: white;
    text-decoration: none;
}

.channel-picture {
    /* sizing */
    height: 100px;
    width: 100px;

    /* styling */
    border-radius: 50%;
    box-shadow: 0 5px 10px black;
}

.channel h3 {
    /* text */
    color: inherit;
    text-shadow: 0 5px 10px black;

    /* tranistion */
    transition: color 0.25s ease-in-out;

    /* no select */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.channel-background {
    /* position */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    /* sizing */
    width: 100%;
    height: 100%;

    /* image */
    object-fit: cover;
    object-position: center;

    /* transition */
    transition: filter 0.25s ease-in-out;
}

.channel .open {
    /* position */
    position: absolute;
    top: 10px;
    right: 10px;

    /* sizing */
    width: 20px;
    height: 20px;

    /* styling */
    fill: currentColor;
    color: inherit;
    filter: drop-shadow(0px 5px 15px black);

    /* tranistion */
    transition: fill 0.25s ease-in-out;
}

.channel:hover .channel-background,
.channel:focus .channel-background,
.channel:focus-visible .channel-background {
    filter: brightness(70%);
}

.channel:active {
    color: var(--brand-color);
}

/* playlists */
.playlist {}

.playlist h4 {
    /* text */
    color: var(--primary-text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    padding: 0px 10px 5px;
}

.playlist-container {
    /* grid */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(282px, 100%), 1fr));
    gap: var(--gap);

    /* spacing */
    padding: 0 5px;
}

.playlist-item {
    /* position */
    position: relative;

    /* sizing */
    display: block;
    width: 100%;
    aspect-ratio: 16/9;

    /* styling */
    color: white;
    text-shadow: 0 5px 10px black;
    border-radius: 10px;
    overflow: hidden;
}

.playlist-item img {
    /* sizing */
    width: 100%;
    height: 100%;

    /* image */
    object-fit: cover;
    object-position: center;

    /* transistion */
    transition: filter 0.25s ease-in-out;
}

.playlist-item:hover img,
.playlist-item:focus img,
.playlist-item:focus-visible img {
    filter: brightness(65%);
}

.playlist-item:active {
    color: var(--brand-color);
}

.playlist-item h5 {
    /* position */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* text */
    text-align: center;

    /* transistion */
    transition: color 0.25s ease-in-out;
}

.youtube-link-icon {
    /* position */
    position: absolute;
    top: 10px;
    right: 10px;

    /* sizing */
    height: 25px !important;
    width: 25px !important;

    /* styling */
    color: inherit;
    fill: currentColor;
    filter: drop-shadow(0px 5px 15px black);

    /* transistion */
    transition: fill 0.25s ease-in-out;
}

/* Contact */
section a.contact:hover,
section a.contact:focus,
section a.contact:focus-visible {
    outline: 2px solid var(--brand-color);
    color: var(--brand-color);
    background-color: transparent !important;
}

section a.contact:active {
    outline: 2px solid var(--primary-text-color) !important;
    color: var(--primary-text-color) !important;
    background-color: transparent !important;
}

/* socials */
.socials {
    /* flex */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    gap: 10px;
}

.social {
    /* position */
    position: relative;

    /* sizing */
    display: block;
    width: 50px;
    height: 50px;
    padding: 0;

    /* flex */
    flex-shrink: 0;

    /* styling */
    border-radius: 10px;
    overflow: hidden;

    /* transition */
    transition: background-color 0.25s ease-in-out, outline 0.25s ease-in-out;
}

.social.pad {
    padding: 7.5px !important;
}

.social svg {
    /* sizing */
    width: 100%;
    height: 100%;

    /* fill */
    fill: var(--primary-text-color);
    transition: fill 0.25s ease-in-out;
}

.social-background {
    /* position */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    fill: initial !important;

    /* animation */
    opacity: 1;
    transition: opacity 0.25s ease-in-out !important;
}

.social:hover .social-background,
.social:focus .social-background,
.social:focus-visible .social-background {
    opacity: 0;
}

.social:active svg {
    fill: var(--secondary-color);
}

/* footer */
footer {
    /* variables */
    --padding: 10px;
    --gap: 10px;
}

footer .container {
    /* sizing */
    padding: calc(var(--padding) * 2) min(calc(var(--padding) * 4), max(4vw, var(--padding)));

    /* grid */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(282px, 100%), 1fr));
    gap: var(--gap);

    /* stling */
    background-color: var(--secondary-color);
    color: var(--primary-text-color);
}

footer .column {
    /* sizing */
    width: min(282px, 100%);

    /* flex */
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap) / 2);
}

footer .divider {
    /* sizing */
    height: 2px;
    flex-shrink: 0;

    /* styling */
    background-color: var(--primary-text-color);
}

footer p {
    white-space: pre-line;
}

footer ul {
    /* sizing */
    padding: 0;
    margin: 0;
    width: 100%;

    /* flex */
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    /* list */
    list-style: none;
}

footer a {
    /* sizing */
    width: 100%;
    min-height: 40px;
    padding: 10px 20px;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;

    /* styling */
    border-radius: 20px;
    background-color: var(--brand-color);

    /* text */
    text-decoration: none;
    text-align: center;
    color: var(--brand-text-color);
    font-size: 16px;
    font-weight: 600;
    line-height: 1;

    /* transistion */
    transition: color 0.25s ease-in-out, outline 0.25s ease-in-out;
}

footer a:hover,
footer a:focus,
footer a:focus-visible,
footer a.social:hover,
footer a.social:focus,
footer a.social:focus-visible {
    outline: 2px solid var(--brand-color);
    color: var(--brand-color);
    fill: var(--brand-color);
    background-color: transparent !important;
}

footer a.social svg {
    fill: inherit !important;
}

footer a:active,
footer a.social:active {
    outline: 2px solid var(--primary-text-color) !important;
    color: var(--primary-text-color) !important;
    fill: var(--primary-text-color) !important;
    background-color: transparent !important;
}