/* Slideshow container */
.slideshow-container {
    /* position */
    position: relative;

    /* sizing */
    width: 100%;
    height: 550px;

    /* styling */
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    overflow: hidden;
}

/* Hide the images by default */
.slides1,
.slides2 {
    display: none;
    height: 100%;
}

/* slide1 - 1 */
.slides1.slide1 {
    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
    fill: currentColor;
    color: var(--primary-text-color);

    /* background */
    background-position: center;
    background-image: url(./Data/Images/20220708_075409.jpg);
    background-size: cover;

    /* color */
    --primary-text-color: white;
}

.slides1.slide1 svg {
    width: 25vw;
}

/* slide1 - 2 */
.slides1.slide2 {
    /* background & colors */
    --text-color: white;
    --background-color-1: red;
    --background-color-2: rgb(76, 0, 255);
    --background-color-3: blue;
    --background-color-4: purple;
    background: radial-gradient(circle farthest-side at 0% 100%, var(--background-color-1) 0%, rgba(66, 96, 142, 0) 100%) repeat scroll 0% 0%, radial-gradient(circle farthest-side at 100% 100%, var(--background-color-2) 0%, rgba(57, 68, 77, 0) 100%) repeat scroll 0% 0%, radial-gradient(circle farthest-side at 100% 0%, var(--background-color-3) 0%, rgba(49, 60, 77, 0) 100%) repeat scroll 0% 0%, radial-gradient(circle farthest-side at 0% 0%, var(--background-color-4) 0%, rgba(34, 78, 119, 0) 100%) repeat scroll 0% 0%, black none repeat scroll 0% 0%;

    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* spacing */
    padding: 0 58.5833px;
}

.slides1.slide2 h2 {
    /* text */
    color: var(--text-color);
    font-size: min(6vh, 6vw);
    line-height: 1.15;
    margin-top: 2.5vh;
    text-align: center;
}

.slides1.slide2 h3 {
    /* text */
    color: var(--text-color);
    font-size: 2.5vh;
    line-height: 1.15;
}

/* slides2 */
#second-carousel {
    /* sizing */
    height: fit-content;
}

.slides2,
.slides2-controls {
    /* grid */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    /* gap: var(--gap); */
}

.slides2-controls {
    /* position */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


@media only screen and (max-width: 797px) {

    .slides2,
    .slides2-controls {
        grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
}

.slides2 .half,
.slides2-controls .half {
    /* position */
    position: relative;
    top: 0;
    bottom: 0;

    /* sizing */
    height: 100%;
    padding: var(--gap);

    /* text */
    line-height: 1;
    color: var(--primary-text-color);
}

.slides2 .half.image {
    /* sizing */
    height: 400px;

    /* styling */
    background-color: var(--tertiary-color);
    border-radius: var(--border-radius);
    overflow: hidden;
    --primary-text-color: white;
}

.slides2-controls .half.image {
    /* sizing */
    height: 400px;

    /* styling */
    border-radius: var(--border-radius);
    overflow: hidden;
    --primary-text-color: white;
}

.view-more {
    /* position */
    position: absolute;
    bottom: var(--gap);
    left: var(--gap);

    /* sizing */
    width: fit-content;
    height: 35px;
    padding: calc(var(--gap)) calc(var(--gap) * 2);

    /* flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);

    /* styling */
    background-color: var(--tertiary-color);
    border-radius: var(--border-radius);
    fill: currentColor;
    color: var(--primary-text-color);

    /* text */
    font-size: 18px;
    line-height: 1;
    text-decoration: none;
}

.view-more:hover,
.view-more:focus,
.view-more:focus-visible {
    outline: var(--tertiary-color) var(--topbar-border-width) solid;
    background-color: transparent;
    color: var(--tertiary-color);
}

.view-more:active {
    outline: var(--primary-text-color) var(--topbar-border-width) solid;
    background-color: transparent;
    color: var(--primary-text-color);
}

.view-more svg {
    max-height: 100%;
}

.slides2 .half h2 {
    /* text */
    font-size: 24px;
    line-height: 1.1;
}

.slides2 .half h3 {
    /* text */
    font-size: 18px;
}

.slides2 .half p {
    /* text */
    font-size: 16px;
    white-space: pre-line;

    /* spacing */
    margin-bottom: 43px;
}

@media only screen and (max-width: 1015px) {
    .slides2 {
        text-align: center;
    }
}

/* slides2 - 1 */
.slides2.slide1 .half.image {
    background-image: url("./Data/Images/Graphical Design.png");
    background-position: center;
    background-size: cover;
}

/* slides2 - 2 */
.slides2.slide2 .half.image {
    padding: 0;
}

.slides2.slide2 iframe {
    /* sizing */
    width: 100%;
    height: 100%;
}

/* slides2 - 3 */
.slides2.slide3 .half.image {
    /* background */
    background-image: url("./Data/Images/Immersion.svg");
    background-position: center;
    background-size: cover;

    --primary-text-color: #e4b1ab;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: var(--gap);
    bottom: var(--gap);
    left: var(--gap);
    width: auto;
    padding: 16px;
    color: var(--primary-text-color);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: var(--border-radius);
    user-select: none;
    text-decoration: none;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Position the "next button" to the right */
.next {
    left: unset !important;
    right: var(--gap);
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover,
.prev:focus,
.next:focus,
.prev:focus-visible,
.next:focus-visible {
    background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dots {
    /* position */
    position: absolute;
    bottom: var(--gap);
    left: 0;
    right: 0;

    /* flex */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
}

.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: var(--primary-text-color);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}